$c64_bg = rgb(16, 0, 156)
$c64_text = rgb(115, 115, 255)
$c64_width = 25em

@keyframes fadeIn {
	0% {
		opacity: 0
	}
	100% {
		opacity 1
	}
}

@keyframes blink {
	0% {
		opacity: 0
	}
	50% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}

@keyframes c64_fadeIn {
	0% {
		background: black
		border-color: transparent
		color: transparent
	}
	100% {
		background: $c64_bg
		border-color: c64_text
		color: $c64_text
	}
}

@keyframes c64_blink {
	0% {
		background: transparent
	}
	50% {
		background: $c64_text
	}
	100% {
		background: transparent
	}
}
code {
	font-size: 1.25em
}

pre.code
	margin: 1em 1.5em
	text-align: left

pre.c64,
.c64_width
	width: $c64_width

pre.c64
	margin-left: auto
	margin-right: auto

	background: $c64_bg

	border: 1em solid $c64_text

	color: $c64_text
	font-size: 1.5em
	font-weight: bolder
	line-height: 0.815em
	text-shadow: none

	&.fade
		animation: c64_fadeIn 4s ease-out
		
		.c64_cursor
			animation: fadeIn 4s, c64_blink 1s infinite


.c64_cursor
	display: inline-block
	width: 1em
	height: 1em
	bg: $c64_text

pre.code:hover,
pre.code.animate
	.c64_cursor
		animation: fadeIn 4s, c64_blink 1s infinite

	.c64_flash
		animation: blink 0.05s infinite