.footer
	position: absolute
	bottom: 0
	left: 0
	right: 0
	height: $footer_height
	padding-right: 1rem

	text-align: right;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5)
	line-height: $footer_height

	&,
	a
		color: rgba(120, 120, 120, 0.85)
