.footer
	position: absolute
	bottom: 0
	left: 0
	right: 0
	height: $footer_height
	padding-right: 1rem

	bg: $footer_bg

	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25)

	text-align: right;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
	line-height: $footer_height

	&,
	a
		color: rgba(235, 235, 235, 0.85)
