h1
	font-size: 2rem
	color: rgb(25, 25, 25)

h2
	font-size: 1.75rem
	color: rgb(50, 50, 50)

h3
	font-size: 1.25rem
	color: rgb(60, 60, 60)

h4
	font-size: 1.0625rem
	color: rgb(60, 60, 60)

	margin: 0.5em 0
