.black
	background: black

.center
	text-align: center
	margin: auto

.vCenter
	display: flex
	align-items: center;
	justify-content: center;

.noMargin
	margin: 0 !important

.margin
	margin: 1rem

// For links created by grunt-pages on headings
.anchor
	text-decoration: none

hr
	margin: 0.25em 0

.left
	float: left

.right
	float: right

.clear
	clear: both

#increase, #decrease
	margin: 0
	vertical-align: top

#pagePixelSize
	width: 4rem
	text-align: center
	box-sizing: border-box
	vertical-align: top
	display: inline-block
	height: 3.375rem
	line-height: 3.125rem
	border: 0.0625rem solid rgba(0, 0, 0, 0.5)
	border-radius: 0.25rem
	background: rgba(255, 255, 255, 0.5)
