.black
	background: black

.center
	text-align: center
	margin: auto

.noMargin
	margin: 0 !important

// For links created by grunt-pages on headings
.anchor
	text-decoration: none

hr
	margin: 0.25em 0
