nav.topNav
	position: absolute
	top: 0
	right: 0

	height: $header_height

	border-left: 0.0625rem solid rgba(0, 0, 0, 0.20)

	display: flex

	a
		position: relative
		display: block
		padding: 0 0.75em
		width: 1.5rem
		overflow: hidden

		bg: $nav_item_bg

		font-size: 1.5rem
		line-height: $header_height
		text-align: center
		color: transparent
		text-decoration: none

		opacity: 0.85

		border-left: 0.0625rem solid $nav_item_divider[1]

		&.selected
			bg: $nav_item_down_bg

		&:focus-visible,
		&:hover
			opacity: 0.95

		&:active
			opacity: 1

		&:focus-visible
			z-index: 1

		&:not(:last-child)
			border-right: 0.0625rem solid $nav_item_divider[0]

		&:before
			color: white
			text-shadow: 0 -1px rgba(0,0,0,0.25)
