// @media all and (max-device-width: 480px)
// 	html
// 		font-size: 24px

@media all and (max-width: $page_width)
	.postPreviews
		width: $postPreview_width * 2 + 2rem
		margin: auto


@media all and (max-width: 55.26rem)
	.postPreviews
		width: $postPreview_width
		margin: auto

	.postPreview
		margin-left: 0
		margin-right: 0
