// Layout
$font = 'Open Sans', sans-serif;
$content_bg = rgba(255,255,255,0.80)
$page_bg = rgb(33,45,55) rgb(51,53,55)
$page_width = 1024px

// Header
$header_height = 3rem
$header_bg = rgba(181,189,200,1) rgba(120,141,153,1)

// Nav
$nav_item_bg = rgba(138,150,168,1) rgba(94,114,126,1)
$nav_item_down_bg = adjustColors($nav_item_bg, -10%)
$nav_item_divider = rgba(0, 0, 0, 0.15) rgba(255, 255, 255, 0.15) 

// Footer
$footer_height = 3rem
$footer_bg = rgba(181,189,200,1) rgba(120,141,153,1)

// Code
$c64_bg = rgb(16, 0, 156)
$c64_text = rgb(115, 115, 255)
$c64_width = 27em

// Post
$post_textColor = rgb(10, 10, 10)
$postPreview_width = 22rem
$postPreview_height = 14.5rem
$postPreview_image_height = 8rem
$postPreview_highlightColor = gray
$postPreview_tag_textColor = rgb(50, 50, 50)
